/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './assets/trust-theme';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-dark.css";

body {
    margin: 0px;
    // background-color:#F0F3F4;
    background-image: url("./assets/bg_pattern.jpg");
    background-repeat: repeat;
}

.mat-drawer-side {
    border-right: none;
}

i {
    margin-right: 5px;
}

.mat-drawer-container {
    background-color: transparent;
}

textarea:focus, input:focus{
    outline: none;
}

.dark-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
}

mat-sidenav-content {
    margin-top: 64px!important;
}

.center-title {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}
.center-item {
    text-align: center;
}
.mat-sort-header-button {
    text-transform: uppercase;
}