.close-dialog-list {
    min-width: 400px;
}

.spacer {
    flex: 1 1 auto;
  }

  .buy-market {
    margin-bottom: 0;
    margin-left: 16px;
}
mat-list-item {
    img {
        margin-right: 10px;
    }
    .units-label {
        color: rgb(160, 159, 159);
        font-style: italic;
    }
}

.execution-main-head {
    font-family: sans-serif;
    position: relative;
    width: 540px;
    padding: 20px 0;
    margin: 0 auto;
    .execution-avatar-ph {
        display: inline-block;
        height: 50px;
        width: 50px;
        margin-right: 10px;
        vertical-align: middle;
        position: relative;
        .avatar {
            height: 100%;
            width: 100%;
            border-radius: 100%;
        }
    }

    .user-info.stock-sell-buy.align-right {
        float: right;
    }
    
    .user-info.stock-sell-buy{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: visible;
        vertical-align: middle;
        display: inline-block;
        font-weight: bold;
        text-transform: uppercase;
        color: rgb(160, 159, 159);
        .execution-head-title-top {
            color: white;
            margin-left: 5px;
        }
    }

    .execution-main-head-price-value {
        font-size: 30px;
        line-height: 28px;
        color: white;
    }
}
