<h1 mat-dialog-title>Close Position</h1>
<div mat-dialog-content>

  <div class="execution-main-head">
    <div class="execution-avatar-ph">
      <img class="avatar" [src]=dialogData.order.company.icon>
    </div>
    <div class="user-info stock-sell-buy">
      <span class="execution-head-title-top">{{dialogData.order.company.abbr}}</span>
      <div class="execution-main-head-title-price">
        <span class="execution-main-head-price-value">{{dialogData.order.company.name}}</span>
      </div>
    </div>
    <div class="user-info stock-sell-buy align-right">
      <span class="execution-head-title-top">Date Opened</span>
      <div class="execution-main-head-title-price">
        <span class="execution-main-head-price-value">{{dialogData.order.opendate | date}}</span>
      </div>
    </div>
  </div>

  <mat-list class="close-dialog-list">
    <mat-list-item>
      <span>Invested</span>
      <span class="spacer"></span>
      <span class="units-label">(units: {{dialogData.order.units | number:''}})&nbsp;</span>
      <span> {{ invested | currency }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Profit/Loss</span>
      <span class="spacer"></span>
      <span>{{ profit | currency }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>TOTAL</span>
      <span class="spacer"></span>
      <span>{{ total | currency }}</span>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions align="center">
  <button mat-button (click)="closeDialog()">Back</button>
  <button mat-flat-button color="warn" (click)='confirmClose()' cdkFocusInitial>Confirm Close</button>
</div>
