<app-side-nav>
  <mat-card id='create-users-card'>
    <mat-card-content class="left-pane">
      <mat-tab-group (selectedTabChange)="onTabChange($event)" mat-align-tabs="center">

        <mat-tab label="Change password">
          <form [formGroup]='passwordChangeForm' class="my-form">
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" name="fname" formControlName='email' required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>New Password</mat-label>
              <input type="password" matInput placeholder="Password" name="lname" formControlName='password' required>
            </mat-form-field>

            <button mat-raised-button color="accent" (click)='save()' [disabled]="passwordChangeForm.invalid">Save</button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>

</app-side-nav>
