mat-accordion {
    margin: 20px;
    mat-expansion-panel {
        margin-left: 20px;
        margin-right: 20px;
        mat-chip.current-amount {
            margin-right: 15px;
        }
    }
    .manage-button {
        border-color: #ff9800;
        float: right;
      }
}    

.mat-drawer-container {
    background-color: transparent;
}

mat-panel-title {
    font-size: 1.2em!important;
}

.mat-expansion-panel-header-title {
    display: block;
    font-size: 16px;
    line-height: 30px;
}

div.search-container {
    padding: 20px 20px 0 20px;
    input {
        color: white;
        border: none;
        border-radius: 100px;
        background-color: #424242;
        padding: 12px 20px;
        font-size: 15px;
        width: 100%;
        :focus {
            outline: none !important;
        }
    }
}