<app-side-nav>
  <div class="search-container">
    <input #searchClient aria-label="search" placeholder="Search for a client" type="search" [(ngModel)]="searchText">
  </div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let client of filteredClients">
      <mat-expansion-panel-header>
        <mat-chip-list>
          <mat-chip color="accent" selected class="current-amount">
            {{client.funds.currentamount | currency}}
          </mat-chip>
        </mat-chip-list>
        <mat-panel-title>
          <i class="fas fa-user"></i>
          {{client.firstName + " " +client.lastName}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-open-pos-list [action]='false' [client]='client' [isOpen]="true" [isInset]="true"></app-open-pos-list>
      <button class="manage-button" mat-stroked-button color="warn" 
      (click)='manage(client.id, client.firstName, client.lastName)'>Manage</button>
    </mat-expansion-panel>
  </mat-accordion>
</app-side-nav>
