// Mat-table
table.mat-table.inset-table {
    width: 100%;
}
table.mat-table.padding-top {
    margin-top: 60px;
}
table.mat-table {
    width: calc(100% - 40px);
    margin: 20px auto;
    th {
        text-transform: uppercase;
    }
    td.mat-cell:first-of-type {
        padding-left: 0px;
    }
    td.mat-cell:last-of-type {
        padding-right: 0px;
    }
    td {
        .td-act {
            padding:0 5px;
            text-transform: uppercase;
        }
        mat-grid-list {
            margin: 5px;
        }
        img.company-icon{
            border-radius: 100%;
            height: 40px;
        }
        .company-identity {
            display: inline-block;
            position: absolute;
            left: 0px;
            .company-abbr {
                display: block;
            }
            .company-name {
                display: block;
            }
        }
    }
}
mat-card.no-data {
    background-color: #009588;
    margin: 60px 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.mat-paginator {
    margin: auto;
    width: calc(100% - 40px);    
}