<table mat-table [dataSource]="dataSource" 
      [ngClass]="{'mat-elevation-z8': !isInset, 'inset-table': isInset, 'padding-top': action}" 
      matSort *ngIf="orders && orders.length > 0">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="market">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Markets </th>
    <td mat-cell *matCellDef="let order" valign="top">
      <mat-list>
        <mat-list-item>
          <img matListAvatar [src]=order.company.icon alt="{{order.company.name}}">
          <h3 matLine> {{order.company.abbr}} </h3>
          <p matLine>
            <span> {{order.company.name}} </span>
          </p>
        </mat-list-item>
      </mat-list>
    </td>
  </ng-container>

  <ng-container matColumnDef="act">
      <th mat-header-cell *matHeaderCellDef> Act </th>
      <td mat-cell *matCellDef="let order">
       <span class="td-act"> {{ order.action }}</span>
      </td>
    </ng-container>

  <ng-container matColumnDef="opendate">
    <th mat-header-cell *matHeaderCellDef> Date Opened </th>
    <td mat-cell *matCellDef="let order"> {{order.opendate | date}} </td>
  </ng-container>

  <ng-container matColumnDef="closedate">
    <th mat-header-cell *matHeaderCellDef> Date Closed </th>
    <td mat-cell *matCellDef="let order"> {{order.closedate | date}} </td>
  </ng-container>

  <ng-container matColumnDef="units">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Units </th>
    <td mat-cell *matCellDef="let order">
      {{ order.units | number : '' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="invested">
    <th mat-header-cell *matHeaderCellDef> Invested </th>
    <td mat-cell *matCellDef="let order">
      <div *ngIf='order.action === "buy"'>
        {{ order.buyprice * order.units | currency }}
      </div>
      <div *ngIf='order.action === "sell"'>
        {{ order.sellprice * order.units | currency }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="buysellprice">
    <th mat-header-cell *matHeaderCellDef> Buy/Sell Price </th>
    <td mat-cell *matCellDef="let order">
      <div *ngIf='order.action === "buy"'>
      {{ order.lastPrice.sell * order.units | currency }}
      </div>
      <div *ngIf='order.action === "sell"'>
      {{ order.lastPrice.buy * order.units | currency }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Total </th>
      <td mat-cell *matCellDef="let order">
        <div *ngIf='order.action === "buy"'>
          {{ order.sellprice * order.units | currency }}
        </div>
        <div *ngIf='order.action === "sell"'>
          {{ (2 * order.sellprice - order.buyprice) * order.units | currency }}
        </div>
      </td>
    </ng-container>

  <ng-container matColumnDef="profit">
    <th mat-header-cell *matHeaderCellDef> Profit/Loss </th>
    <td mat-cell *matCellDef="let order">
      <div *ngIf='order.action === "buy"' [appProfitStyle]='order.lastPrice.sell * order.units - order.buyprice * order.units'>
        {{ order.lastPrice.sell * order.units - order.buyprice * order.units | currency }}
      </div>
      <div *ngIf='order.action === "sell"' [appProfitStyle]='order.sellprice * order.units - order.lastPrice.buy * order.units'>
        {{ order.sellprice * order.units - order.lastPrice.buy * order.units | currency }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="finalProfit">
    <th mat-header-cell *matHeaderCellDef> Profit/Loss </th>
    <td mat-cell *matCellDef="let order" [appProfitStyle]='(order.sellprice - order.buyprice) * order.units'>
      {{ (order.sellprice - order.buyprice) * order.units | currency }}
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let order">
      <button class="sell-button" color="warn" mat-stroked-button (click)="this.openDialog(order)">
        Close
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 5, 10, 20]" *ngIf="orders && orders.length > 0">
</mat-paginator>

<mat-card class="no-data" *ngIf="orders && orders.length === 0">
  <mat-card-content>
      <i class="fas fa-exclamation-triangle"></i>
      No data
  </mat-card-content>
</mat-card>
