<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true">
    <mat-nav-list>
      <a mat-list-item *ngFor='let link of this.links' [routerLink]="link.route" [routerLinkActive]="['active']">
        <i [ngClass]="link.icon"></i>
        {{ link.name }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="dark-toolbar">
      <mat-toolbar-row>
        <img class="toolbar-logo" src="..\assets\trust42_logo.png" alt="Trust42 logo" [routerLink]="['/manager/dashboard']">
        <div class="nav-buttons">
        </div>
        <span class="spacer"></span>
        <div class="user-panel">
          <button mat-button color="primary" class="user-profile">
            <i class="far fa-user"></i>
            Hello, {{ fullnameOfUser }}
          </button>
          <button class="logout-button" color="accent" mat-stroked-button (click)='this.logout()'>
            Logout
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="manage-banner" *ngIf='isInClientMode && userRole === "manager"'>
      <span class="label">
        <i class="fas fa-cog fa-spin"></i>
        Currently Managing: {{ clientFullName }}
      </span>
      <button id="completeBtn" mat-flat-button (click)="this.completePortfolio()">
        Complete
      </button>
    </div>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
