// .sidenav-container {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }
.sidenav {
    width: 200px;
    top: 64px!important;
  }

.spacer {
  flex: 1 1 auto;
}
  
mat-toolbar.dark-toolbar {
    background-color: #212121;
    .toolbar-logo{
      cursor: pointer;
      height: 45px;
      // margin: 0 auto;
    }
    img:focus {
      outline: none;
    }
    .logout-button {
      border-color: #1B867B;
    }
    .user-profile {
      margin-right: 8px;
    }
}

.manage-banner {
  height: 40px;
  position: fixed;
  z-index: 1000;
  width: calc(100% - 200px);
  background-color: rgba(66,66,66,0.8);
  line-height: 40px;
  font-family: sans-serif;
  .label {
    // float: left;
    font-weight: bold;
    margin-left: 10px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    color: #FF9801;
  }
  #completeBtn {
    float: right;
    margin-right: 10px;
    background-color:#FF9801;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
  }
}

mat-nav-list {
  a {
    font-size: 1.2em;
  }
  i {
    margin-right: 10px;
    color: white; 
  }
}

.active {
  color: #6EBA8C;
}