@import '~@angular/material/theming';
@include mat-core();
$trust-theme-primary: mat-palette($mat-gray);
$trust-theme-accent : mat-palette($mat-teal);
$trust-theme-warn   : mat-palette($mat-orange);
$trust-theme: mat-dark-theme(
    $trust-theme-primary,
    $trust-theme-accent,
    $trust-theme-warn
);
@include angular-material-theme($trust-theme);
