<app-side-nav>
  <mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <div class="fixed-container">
            <div class="left-list">
              <h3 mat-subheader>Managers</h3>
              <div class="search-container">
                <input #searchManager aria-label="search" placeholder="Search" type="search" [(ngModel)]="searchManagers">
              </div>
              <mat-selection-list #selectedManager class="scroll-list" (selectionChange)="handleSelection($event)">
                <mat-list-option *ngFor="let manager of filteredManagers" [value]=manager.id>
                  {{manager.fullname}}
                </mat-list-option>
              </mat-selection-list>
            </div>
            <div class="right-list">
              <h3 mat-subheader>Clients</h3>
              <div class="search-container">
                <input #searchClient aria-label="search" placeholder="Search" type="search" [(ngModel)]="searchClients">
              </div>
              <mat-selection-list #selectedClient class="scroll-list" (selectionChange)="handleSelection($event)">
                <mat-list-option *ngFor="let client of filteredClients" [value]=client.id>
                  {{client.firstName + ' ' + client.lastName}}
                </mat-list-option>
              </mat-selection-list>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions align="center">
          <button mat-raised-button color="accent" 
                (click)="link(selectedManager.selectedOptions.selected[0].value, 
                        selectedClient.selectedOptions.selected[0].value); 
                        selectedManager.deselectAll(); selectedClient.deselectAll()">
            LINK
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</app-side-nav>