mat-toolbar.dark-toolbar{
    background-color: #212121;
    .toolbar-logo{
      height: 45px;
    }
    .logout-button {
      border-color: #1B867B;
    }
    .user-profile {
      margin-right: 8px;
    }
}
.spacer {
    flex: 1 1 auto;
  }

  mat-card {
    height: 420px;
    width: 80%;
    margin: 20px;
}

.full-width {
    width: 100%;
  }
  .fixed-container {
    display: inline-block;
    width: 100%;
  }
  .left-list, .right-list {
    height: 360px;
    width: 50%;
    float: left;
    overflow: scroll;
  }

  div.search-container {
    width: 100%;
    input {
        width: calc(100% - 50px);
        margin-right: 10px;
        color: #424242;
        border: none;
        border-radius: 100px;
        background-color:white;
        padding: 7px 10px;
        font-size: 15px;
        :focus {
            outline: none !important;
        }             
    }
    input#searchManager {
      margin: 3px 0;
      width: 90%;
    } 
    button {
        display: inline;
    }
}
