<app-side-nav>
  <mat-card class="client-profile mat-elevation-z8" *ngIf="currentClient.funds">
    <mat-card-header>
      <div mat-card-image class="profile-cover"></div>
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="5" rowHeight="50px">
        <mat-grid-tile>
          <div>
            <div class="username">{{ currentClient.firstName + ' ' + currentClient.lastName }}</div>
            <div>{{ currentClient.email }}</div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>
            <div class="boldtitle">{{ currentClient.funds.currentamount | currency }}</div>
            <div>current balance</div>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div>
            <div class="boldtitle">{{ currentClient.address }}</div>
            <div>address</div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>
            <div class="boldtitle">{{ currentClient.age }}</div>
            <div>years old</div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>
            <div class="boldtitle">{{ currentClient.dateregistered | date }}</div>
            <div>date of registration</div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>

    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
  <mat-card class="history-card">
    <h3 class="history-title">
      <i class="fas fa-history"></i>
      History
    </h3>
    <app-open-pos-list *ngIf="currentClient.funds" [action]="true" [client]="currentClient" [isOpen]="false" [isInset]="true">
    </app-open-pos-list>
  </mat-card>
</app-side-nav>
