.client-profile {
    margin: 20px;
    margin-top: 60px;
    padding-top: 0;
    mat-card-header {
        display: block;
        padding: 0;
        .profile-cover {
            height: 150px;
            border-radius: 4px;
            background-image: url(../../../assets/geometric-1280x720-shapes-dark-background-black-green-gradient-hd-4k-14413.png);
            background-size: cover;
        }
    }
    .boldtitle {
        font-size: 1.3em;
        font-weight: bold;
    }
    .username {
        font-size: 1.7em;
        font-weight: bold;
        color: #FA9607;
    }
}
.active-positions {
    margin: 20px;
    width: 30%;
    display: inline-flex;
}
.history-card {
    margin: 0 20px 5px 20px;
    .history-title {
        color: #FA9607;
        margin-bottom: -10px;
        // padding: 0 20px;
    }
        
}
