// Mat-list
.company-dash {
    padding: 0;
    margin: 20px;
    .mat-list-base {
        padding-top: 0;
    }
}
// Mat-table
table.mat-table {
    margin: auto;
    width: calc(100% - 40px);
    margin-top: 20px;
    td.mat-cell:first-of-type {
        padding-left: 0px;
    }
    td {
        mat-grid-list {
            margin: 5px;
        }
        img.company-icon{
            border-radius: 100%;
            height: 40px;
        }
        .company-identity {
            display: inline-block;
            position: absolute;
            left: 0px;
            .company-abbr {
                display: block;
            }
            .company-name {
                display: block;
            }
        }
    }
}

ag-grid-angular {
    margin: 20px;
}