<app-side-nav>
  <!-- <app-candlestick-chart></app-candlestick-chart> -->

  <app-stock-list [isWatchlist]="false" [isInClientMode]="false"></app-stock-list>

  <!-- Ag-grid -->
  <!-- <ag-grid-angular class="ag-theme-dark" [rowData]="rowData" [columnDefs]="columnDefs">
</ag-grid-angular> -->
</app-side-nav>
