<app-side-nav>
  <mat-card id='create-users-card'>
    <mat-card-content class="left-pane">
      <mat-tab-group (selectedTabChange)="onTabChange($event)" mat-align-tabs="center">

        <mat-tab label="Client">
          <form [formGroup]='clientForm' class="my-form">
            <mat-form-field class="half-width">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="First name" name="fname" formControlName='firstName' required>
            </mat-form-field>
            <mat-form-field class="half-width">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last Name" name="lname" formControlName='lastName' required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Address</mat-label>
              <input matInput placeholder="Address" name="address" formControlName='address' required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" name="email" formControlName='email' type="email" required>
            </mat-form-field>
            <mat-form-field class="half-width">
              <mat-label>Age</mat-label>
              <input matInput placeholder="Age" name="age" formControlName='age' type="number" max="110" required>
            </mat-form-field>
            <mat-form-field class="half-width">
              <mat-label>Amount</mat-label>
              <span class="input-amount" matPrefix>$&nbsp;</span>
              <input matInput placeholder="Amount" name="amount" formControlName='amount' type="number" required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Manager" name="manager" formControlName='manager' required [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let man of filteredManagers | async" [value]="man.id">
                  {{man.fullname}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <button mat-raised-button color="accent" (click)='save()' [disabled]="clientForm.invalid">Save</button>
          </form>
        </mat-tab>

        <mat-tab label="Manager">
          <form (ngSubmit)='save()' [formGroup]='managerForm' class="my-form">
            <mat-form-field class="full-width">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="Full name" name="fname" formControlName='firstName' required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last name" name="lname" formControlName='lastName' required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" name="email" formControlName='email' required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" name="password" formControlName='password' required>
            </mat-form-field>
          </form>
          <button mat-raised-button color="accent" (click)='save()' [disabled]="managerForm.invalid">Save</button>
        </mat-tab>

        <mat-tab label="Admin">
          <form (ngSubmit)='save()' [formGroup]='adminForm' class="my-form">
            <mat-form-field class="full-width">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="Full name" name="fname" formControlName='firstName' required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last name" name="lname" formControlName='lastName' required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" name="email" formControlName='email' required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Password" name="password" formControlName='password' required>
            </mat-form-field>
          </form>
          <button mat-raised-button color="accent" (click)='save()' [disabled]="adminForm.invalid">Save</button>
        </mat-tab>

      </mat-tab-group>
    </mat-card-content>
    <!-- <mat-card-actions align="center">
      <button mat-raised-button color="accent" (click)='save()' [disabled]="loginForm.invalid">Save</button>
    </mat-card-actions> -->
  </mat-card>
</app-side-nav>