mat-toolbar.dark-toolbar{
    background-color: #212121;
    .toolbar-logo{
      height: 45px;
    }
    .logout-button {
      border-color: #1B867B;
    }
    .user-profile {
      margin-right: 8px;
    }
}
.spacer {
    flex: 1 1 auto;
  }

  mat-card {
    height: 370px;
    width: 100%;
    margin: 20px;
    mat-card-content.left-pane {
      height: 86%;
    }
}

mat-form-field {
  box-sizing: border-box;
  padding: 0 5px;
}

.full-width {
    width: 100%;
  }
  .half-width {
    width: 50%;
  }

  .left-list, .right-list {
    height: 360px;
    width: 50%;
    float: left;
  }
  .mat-card-actions-align-end {
    display: block!important;
  }

  div.search-container {
    width: 100%;
    input {
        width: calc(100% - 50px);
        margin-right: 10px;
        color: #424242;
        border: none;
        border-radius: 100px;
        background-color:white;
        padding: 7px 10px;
        font-size: 15px;
        :focus {
            outline: none !important;
        }             
    }
    input#searchManager {
      margin: 3px 0;
      width: 90%;
    } 
    button {
        display: inline;
    }
}

#create-users-card {
  margin: 30px auto;
  width: 75%;
}
.mat-raised-button {
 display: block; margin: 0 auto;
}
