<div mat-dialog-content>
  <mat-tab-group mat-align-tabs="center" [selectedIndex]=data.tab (selectedTabChange)="onTabChange($event)">
    <mat-tab label="BUY">
      <div class="execution-main-head">
        <div class="execution-avatar-ph">
          <img class="avatar" [src]="dialogData.company.icon">
        </div>
        <div class="user-info stock-sell-buy">
          <span class="execution-main-head-title-name">Buy</span>
          <span class="execution-head-title-top">{{dialogData.company.abbr}}</span>
          <div class="execution-main-head-title-price">
            <span class="execution-main-head-price-value">{{dialogData.company.lastPrice.buy | currency}}</span>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <form class="center-item">
        <h3 class="center-title">Amount</h3>
        <mat-form-field>
          <input class="input-amount" type="number" matInput [(ngModel)]="amount" name="amount">
          <span class="input-amount" matPrefix>$&nbsp;</span>
        </mat-form-field>
        <p class="units-label">({{amount/dialogData.company.lastPrice.buy | number:''}} units)</p>

      </form>
      <mat-divider></mat-divider>
    </mat-tab>
    <mat-tab label="SELL">
      <div class="execution-main-head">
        <div class="execution-avatar-ph">
          <img class="avatar" [src]="dialogData.company.icon">
        </div>
        <div class="user-info stock-sell-buy">
          <span class="execution-main-head-title-name">Sell</span>
          <span class="execution-head-title-top">{{dialogData.company.abbr}}</span>
          <div class="execution-main-head-title-price">
            <span class="execution-main-head-price-value">{{dialogData.company.lastPrice.sell | currency}}</span>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <form class="center-item">
        <h3 class="center-title">Amount</h3>
        <mat-form-field>
          <input class="input-amount" type="number" matInput [(ngModel)]="amount" name="amount">
          <span class="input-amount" matPrefix>$&nbsp;</span>
        </mat-form-field>
        <p class="units-label">({{amount/dialogData.company.lastPrice.sell | number:''}} units)</p>
      </form>
      <mat-divider></mat-divider>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions align="center">
  <button mat-button (click)="closeDialog()">Back</button>
  <button mat-flat-button (click)='setOrder()' [mat-dialog-close]="data.animal" cdkFocusInitial color="accent">Set Order</button>
</div>