
<div class="strip">
    <img src="../../assets/404.gif" alt="404">
</div>
<div class="button-strip">
    <button mat-flat-button class="not-found" (click)="goBack()">
        <i class="fas fa-hand-point-left"></i>
        GO BACK
    </button>
</div>

