.strip {
    margin-top: 30vh;
    text-align: center;
    background-color: #5BDCC0;
}
.button-strip {
    margin-top: 50px;
    text-align: center;
    .not-found {
        font-size: 1.2em;
        background-color: #052B3B;
    }
}
