<form class="example-form" (submit)="login()" #loginForm="ngForm">
  <mat-card class="example-card">
    <img class="toolbar-logo" src="..\assets\trust42_logo.png" alt="Trust42 logo">
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" [(ngModel)]="username" name="username" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" color="accent" [disabled]="loginForm.invalid">Login</button>
    </mat-card-actions>
  </mat-card>
</form>