.example-card {
    width: 400px;
    margin: 10% auto;
    text-align: center;
    padding: 30px;
  }

  .example-full-width {
      width: 100%;
  }
  .mat-card-title{
    font-size: 16px;
  }
  .toolbar-logo {
    height: 60px;
    margin: 0 auto;
  }