<div class="filter-container" [ngClass]="{'padding-top': isInClientMode}">
  <input aria-label="filter" placeholder="Filter markets" (keyup)="doFilter($event.target.value)" type="search">
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Markets </th>
    <td mat-cell *matCellDef="let company" valign="top">
      <mat-list>
        <mat-list-item>
          <img matListAvatar [src]=company.icon alt="{{company.name}}">
          <h3 matLine> {{company.abbr}} </h3>
          <p matLine>
            <span> {{company.name}} </span>
          </p>
        </mat-list-item>
      </mat-list>
    </td>
  </ng-container>

  <ng-container matColumnDef="change">
    <th mat-header-cell *matHeaderCellDef> Change </th>
    <td mat-cell *matCellDef="let company">
      <div (click)='openDatailsDialog(company.id, company.name)'>
        <app-spline-chart [companyId]='company.id'></app-spline-chart>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="buy">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Buy </th>
    <td mat-cell *matCellDef="let company">
      <button class="buy-button" color="accent" mat-stroked-button (click)="this.openDialog(0, company)" *ngIf="isInClientMode">
        Buy {{ company.lastPrice.buy | currency }}
      </button>
      <button class="buy-button" color="accent" mat-stroked-button *ngIf="!isInClientMode">
        Buy {{ company.lastPrice.buy | currency }}
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="sell">
    <th mat-header-cell *matHeaderCellDef> Sell </th>
    <td mat-cell *matCellDef="let company">
      <button class="sell-button" color="warn" mat-stroked-button (click)="openDialog(1, company)" *ngIf="isInClientMode">
        Sell {{ company.lastPrice.sell | currency }}
      </button>
      <button class="sell-button" color="warn" mat-stroked-button *ngIf="!isInClientMode">
        Sell {{ company.lastPrice.sell | currency }}
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="watchlist">
    <th mat-header-cell *matHeaderCellDef>Watchlist </th>
    <td mat-cell *matCellDef="let company">
      <button mat-icon-button class="watchlist-button" 
              matTooltip="Add To Watchlist" matTooltipPosition="above"
              (click)="addToWatchlist(company)" *ngIf='this.router.url !== "/client/watchlist"'>
        <i class="fas fa-eye"></i>
      </button>
      <button mat-icon-button class="watchlist-button" 
              matTooltip="Remove From Watchlist" matTooltipPosition="above"
              (click)="removeFromWatchlist(company)" *ngIf='this.router.url === "/client/watchlist"'>
          <i class="fas fa-eye-slash"></i>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="4" [pageSizeOptions]="[1, 2, 4, 6, 10, 20]">
</mat-paginator>