// Mat-list
.company-dash {
    padding: 0;
    margin: 20px;
    .mat-list-base {
        padding-top: 0;
    }
}
// Mat-table
table.mat-table {
    margin: auto;
    width: calc(100% - 40px);
    margin-top: 20px;
    th {
        text-transform: uppercase;
    }
    td.mat-cell:first-of-type {
        padding-left: 0px;
    }
    td.mat-cell:last-of-type {
        padding-right: 0px;
    }
    td {
        mat-grid-list {
            margin: 5px;
        }
        img.company-icon{
            border-radius: 100%;
            height: 40px;
        }
        .company-identity {
            display: inline-block;
            position: absolute;
            left: 0px;
            .company-abbr {
                display: block;
            }
            .company-name {
                display: block;
            }
        }
    }
}

.padding-top {
    padding-top: 60px!important;
}

ag-grid-angular {
    margin: 20px;
}
.buy-button {
    color: #0E8174;
    border-color: #0E8174;
    width: 75%;
    text-align: left
}
.sell-button {
    width: 75%;
    color: #FF9801;
    border-color: #FF9801;
    text-align: left

}
.watchlist-button {
    i {
        margin:0;
        font-size: 1.5em;
        color: white;;
    }
}

.mat-paginator {
    margin: auto;
    width: calc(100% - 40px);    
}
div.filter-container {
    padding: 20px 20px 0 20px;
    input {
        color: white;
        border: none;
        border-radius: 100px;
        background-color: #424242;
        padding: 12px 20px;
        font-size: 15px;
        width: 100%;
        :focus {
            outline: none !important;
        }
    }
}